<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/prototype.css">
  </head>
  <body>
    <div id="app">
      <a class="back" href="/prototype"><i class="fas fa-home"></i></a>
      <content></content>
    </div>
  </body>
  <script type="text/javascript">
    var content = document.getElementsByTagName('content')[0];
    var s = 'Hello, world!';
    var i = 0;
    window.setInterval(function() {
      if(i === s.length) return clearInterval(this);
      content.innerHTML += s[i++];
    }, 120);
  </script>
  <style media="screen">
    #app {
      margin-top: 10%;
      width: 100%;
    }
    content {
      font-family: monospace;
      font-size: 100px;
    }
  </style>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</html>
